html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  overscroll-behavior: none;
  left: 0;
  top: 0;
  overflow: hidden;
}

strong{
  color: orange;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.code{
  background-color: white;
  color: blue;
  padding: 0.2rem;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 0.1rem;
  white-space: nowrap;
}

#app{
  height: 100%;
  width: 100%;
}

.nopointer{
  pointer-events: none;
}

.teilaufgaben{
  list-style-type: none;
  counter-reset: item;
}

.teilaufgaben>li:before{
  content: counter(item, lower-latin) ") ";
  color: orange;
  counter-increment: item;
}

.teilaufgaben>li{
  margin-bottom: 0.5rem;
}


.cm-editor{
  font-size: 150%;
}

.top-batch.p-overlaybatch{
  background-color: white;
}

.top-batch{
  margin-top: 1rem;
}

.top-batch>span.p-badge{
  transform: translate(50%, -80%); 
  right: 50%;
}

.transition-table{
  text-align: center;
  border-collapse: collapse;
}

.transition-table td{
  border: 1pt solid white;
}

.screen{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.error-hint{
  font-size: small;
  color: red;
}

.shaking{
  animation: shaking 0.8s infinite;
}

.wobbling{
  animation: wobbling 0.8s infinite;
}

@keyframes shaking{
  0% {transform: translate(0,0) rotate(0deg);}
  20% {transform: translate(5px,5px) rotate(5deg);}
  40% {transform: translate(0,0) rotate(0deg);}
  60% {transform: translate(-5px,5px) rotate(-5deg);}
  80% {transform: translate(0,0) rotate(0deg);}
}

@keyframes wobbling{
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
}

.float-right{
  position: relative;
  z-index: 10;
}

.wertetabelle{
  text-align: center;
  border-collapse: collapse;
}

.wertetabelle td, .wertetabelle th{
  border: 1pt solid white;
}

.responsive-grid-2-1{
  grid-template-columns: auto auto;
}

@media screen and (min-width: 550px) {
  .float-right{
    float: right;
  }
}

@media screen and (max-width: 550px) {
  .float-right{
    display: grid;
    place-content: center;
    width: 100%;
  }
  .responsive-grid-2-1{
    grid-template-columns: auto;
  }
}