html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  overscroll-behavior: none;
  left: 0;
  top: 0;
  overflow: hidden;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app{
  height: 100%;
  width: 100%;
}

.nopointer{
  pointer-events: none;
}

.screen{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.shaking{
  animation: shaking 0.8s infinite;
}

.wobbling{
  animation: wobbling 0.8s infinite;
}

@keyframes shaking{
  0% {transform: translate(0,0) rotate(0deg);}
  20% {transform: translate(5px,5px) rotate(5deg);}
  40% {transform: translate(0,0) rotate(0deg);}
  60% {transform: translate(-5px,5px) rotate(-5deg);}
  80% {transform: translate(0,0) rotate(0deg);}
}

@keyframes wobbling{
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
}

@media screen and (min-width: 550px) {
  .float-right{
    float: right;
  }
}

@media screen and (max-width: 550px) {
  .float-right{
    display: grid;
    place-content: center;
    width: 100%;
  }
}